@charset "utf-8";
body{
  background-color:indianred
}

h1 {
  color: goldenrod;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: goldenrod;
}

img {
  float: left;
  width: 250px;
  margin: 10px;
  border-color: goldenrod;
  border-width: 8px;
  border-style: solid;
  border-radius: 10px;
}

p {
  text-align: left;
  font-family: cursive;
  font-size: 17px;
}
